# Python
*.py[cod]
__pycache__/
*.so

# Environment
.env
.env.*
env/
myenv/
.venv/
*.sqlite3
*.db

# Logs
*.log

# IDEs
.vscode/
.idea/
.mypy_cache/
pytest_cache/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# FastAPI specific (if using static/media folders)
staticfiles/
media/
test.py

# Uploaded files
uploaded_scans/